<!doctype html>
<html lang="en">
{{template "head"}}
<body>

{{template "header"}}

&nbsp;

<div class="container">
    <div class="row">
        <div class="col">
            <div class="alert alert-warning" role="alert">
            {{.error}}
            </div>

        </div>
    </div>
</div>
</body>
</html>